Refer to RFC 9110 (Section 11.6.2) and use according terminology

# Current Situation

The current text in [[DSP (RC4)] (Section 4.1, Authorization)](https://eclipse-dataspace-protocol-base.github.io/DataspaceProtocol/2025-1-RC4/#authorization) is as follows:

"All requests to HTTPS endpoints *SHOULD* use the `Authorization` header to include an authorization token. The semantics of such tokens are not part of this specification. The Authorization HTTP header is optional if the [Connector](https://eclipse-dataspace-protocol-base.github.io/DataspaceProtocol/2025-1-RC4/#dfn-data-service) does not require authorization."

# Problem with Current Situation

The problem with the current text is, that it unfortunately does **not** clearly specify what exactly "the `Authorization` header" is. Furthermore, it uses the term "authorization token", whereas the term "credential" as used in [[RFC 9110] (Section 11.6.2)](https://www.rfc-editor.org/rfc/rfc9110#name-authorization)] would be more appropriate here. Finally, the mentioned case that there is no authentication and authorization between the two Connectors, which may be assumed to be operated in a distributed environment and in different domains, does **not** seem to be appropriate from a security perspective at all.  

As this part of the specification is very crucial for security, it is **strongly recommended** to be as precise as possible here and properly distinguish between the *authentication*, in which a client submits the *credential* to the server, and the subsequent *validation* of the *credential* by the server in order to *authorize* the access to the requested ressource, which process is called *authorization*. 

It is strongly recommended to explicitly define these important terms in [[DSP (RC4)] (Section 3, Terms and definitions)](https://eclipse-dataspace-protocol-base.github.io/DataspaceProtocol/2025-1-RC4/#terminology)

# Suggested improvement

We propose to include a clear reference to [[RFC 9110] (Section 11.6.2)](https://www.rfc-editor.org/rfc/rfc9110#name-authorization)] and change the text as follows:

"All requests to HTTPS endpoints *SHOULD* use the `Authorization` header according to 
[[RFC 9110] (Section 11.6.2)](https://www.rfc-editor.org/rfc/rfc9110#name-authorization)] 
and include suitable credentials containing the authentication information of the client, which can subsequently be validated by the server to authorize the access the requested resource.

The details with respect to the structure and handling of the credentials is out of scope of the present specification, but *SHALL* be specified by releted specifications to ensure security and interoperability."

